<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="head">
    <title>Savannah Portfolio</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap" rel="stylesheet">

    <style>
        html, body, main {

            height: 100%;

        }
        .navbar{
        font-family: 'Ranchers', cursive;
        }

        body {

            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .large-product-card .card-body {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        h1 {
        font-family: 'Hachi Maru Pop', cursive;
        }
        h4, h6, h2{
        font-family: 'Ranchers', cursive;
        }

}

    </style>
</head>
<body>
<div th:fragment="navbar">
    <nav
            class="navbar navbar-expand-md navbar-default navbar-light" style="background-color:#FF69B4">
        <a class="navbar-brand" href="/">Savannah Anciso</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                <!--<li class="nav-link dropdown">-->
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link active"
                       href="/about" id="dropdown01">About</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="/about">All</a>
                        <!--/*@thymesVar id="categories" type="java.util.List<com.example.demo.model.Category>"*/-->
                        <a class="dropdown-item" th:each="category : ${categories}" th:text="${category}"
                           th:href="@{/filter(category=${category})}"></a>
                    </div>
                <!--</li>-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/collections" id="dropdown02" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Portfolio</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="/collections">All</a>
<!--                        <a class="dropdown-item" href="/collections">Quarenteenie</a>
                        <a class="dropdown-item" href="/collections">Foevember</a>
                        <a class="dropdown-item" href="/collections">Nature</a>-->
                        <!--/*@thymesVar id="brands" type="java.util.List<java.lang.String>"*/-->

                        <a class="dropdown-item" th:each="collection : ${collections}" th:text="${collection}"
                           th:href="@{/filter(collections=${collection})}"></a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>





<footer th:fragment="footer">

    <div class="container">
                <p>©2021</p>
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                        crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                        crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                        crossorigin="anonymous"></script>
    </div>
</footer>
</body>
</html>