<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/fragments :: head"></head>
<body>
<div th:replace="fragments/fragments :: navbar"></div>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<style>
<!--    h1{
    text:center
    }-->

    @media screen and (max-width: 900px) {
    .column {
    flex: 50%;
    max-width: 50%;
    }
    }


</style>

</head>

<!--
add in all nature -->

<h1 style="text-align:center">Quaranteenie</h1>
<h6 style="text-align:center">4x4 Acrylic on MDF panel</h6>
<h4 style="text-align:center">About a week and a half into quarantine I started to get antsy, worried I would run out of paper/materials to paint on. So I dug out a large piece of MDF and decided to cut it down to smaller squares (4x4 was perfect). I cut them into squares to symbolize and represent window. To look into(or out) the window of whimsy and aesthetic to ease my mind during these confusing and uncertain times. I hope you find a bit of magic in each of these "windows" in my series Quaranteenie.</h4>
<br>
<div class="grid-container">
    <img src="../static/images/q1.jpg" th:src="@{images/q1.jpg}" height="300" width="300"/>
    <img src="../static/images/q2.jpg" th:src="@{images/q2.jpg}" height="300" width="300" />
    <img src="../static/images/q3.jpg" th:src="@{images/q3.jpg}" height="300" width="300" />
    <img src="../static/images/q4.jpg" th:src="@{images/q4.jpg}" height="300" width="300"/>
    <img src="../static/images/q5.jpg" th:src="@{images/q5.jpg}" height="300" width="300"/>
    <img src="../static/images/q6.jpg" th:src="@{images/q6.jpg}" height="300" width="300"/>
</div>
<br>
<h1 style="text-align:center">Foevember</h1>
<h6 style="text-align:center">Various Sizes/Mediums(mainly color pencil)</h6>
<h4 style="text-align:center">Everyday in the month of November I created a new drawing showcasing some of my favorite bad girls and guys. Foevember was created by @sornigrafix on instagram, cartoons are a huge past time for me so was very happy to participate in this challenge.</h4>
<div class="grid-container" style="vertical-align: middle">
    <img src="../static/images/spyvsspy.jpg" th:src="@{images/spyvsspy.jpg}" height="300" width="300"/>
    <img src="../static/images/monarch.jpg" th:src="@{images/monarch.jpg}" height="300" width="300"/>
    <img src="../static/images/marvinthemartian.jpg" th:src="@{images/marvinthemartian.jpg}" height="300" width="300"/>
    <img src="../static/images/angelica.jpg" th:src="@{images/angelica.jpg}" height="300" width="300"/>
    <img src="../static/images/bluto" th:src="@{images/bluto.jpg}" height="300" width="300" />
    <img src="../static/images/fudd.jpg" th:src="@{images/fudd.jpg}" height="300" width="300" />
    <img src="../static/images/dick.jpg" th:src="@{images/dick.jpg}" height="300" width="300"/>
    <img src="../static/images/iceking.jpg" th:src="@{images/iceking.jpg}" height="300" width="300"/>
    <img src="../static/images/lucy.jpg" th:src="@{images/lucy.jpg}" height="300" width="300"/>
    <img src="../static/images/mojo.jpg" th:src="@{images/mojo.jpg}" height="300" width="300"/>
    <img src="../static/images/mandark.jpg" th:src="@{images/mandark.jpg}" height="300" width="300"/>
    <img src="../static/images/mechman.jpg" th:src="@{images/mechman.jpg}" height="300" width="300"/>
    <img src="../static/images/dib.jpg" th:src="@{images/dib.jpg}" height="300" width="300"/>
    <img src="../static/images/cupheaddevil.jpg" th:src="@{images/cupheaddevil.jpg}" height="300" width="300"/>
    <img src="../static/images/mrcrocker.jpg" th:src="@{images/mrcrocker.jpg}" height="300" width="300"/>
    <img src="../static/images/mummra.jpg" th:src="@{images/mummra.jpg}" height="300" width="300"/>
    <img src="../static/images/oogieboogie.jpg" th:src="@{images/oogieboogie.jpg}" height="300" width="300"/>
    <img src="../static/images/plankton.jpg" th:src="@{images/plankton.jpg}" height="300" width="300"/>
    <img src="../static/images/grom.jpg" th:src="@{images/grom.jpg}" height="300" width="300"/>
    <img src="../static/images/syl.jpg" th:src="@{images/syl.jpg}" height="300" width="300"/>
    <img src="../static/images/terrance.jpg" th:src="@{images/terrance.jpg}" height="300" width="300"/>
    <img src="../static/images/wyile.jpg" th:src="@{images/wyile.jpg}" height="300" width="300"/>
    <img src="../static/images/skeletor.jpg" th:src="@{images/skeletor.jpg}" height="300" width="300"/>
    <img src="../static/images/gargmel.jpg" th:src="@{images/gargmel.jpg}" height="300" width="300"/>

</div>
<br>
<!--nature -->


<footer th:replace="fragments/fragments :: footer"></footer>
</body>
</html>