<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/fragments :: head"></head>
<body>
<div th:replace="fragments/fragments :: navbar"></div>

<h1>Why I make Art?</h1>
<h4>
    I make art primarily because I enjoy the process but so many other reasons. My inspiration comes from how art is in everything(can be anything), secretly hidden and wildly shown. My art has influences from everywhere, my students, life in the city, country, or beach, or just my imagination; Art can be found anywhere, in anything. Making art is what helps me capture the things that I see and feel. Art is what makes me happy, has always made me happy, instinctively. It is so special i get to share that, in my paintings and in my teaching.  Glad to be living and loving art.</h4>
</body>
